{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1>Create a New Page</h1>
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        Enter the title of page <br>
        <input type="text" name="heading"></input>
        <br>
        enter the details of page
        <br>
        <textarea name="data" id="textarea" cols="30" rows="10"></textarea>
        <input type="submit" value="submit">
    </form>

{% endblock %}